.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    
    

}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 20px 20px 20px 20px;
    font-family: 'Roboto Mono', monospace;

    
    

}

nav ul li a{
    text-decoration: none;
    font-size: 20px;
    color: var(--text-color);
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #af7ac5;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;


}

nav ul li a:hover::after{
    width: 100%;
}

.logo{
    width: 40px;
    /* margin-left: 40px; */
    
}

.logo:hover{
  transform: scale(1.05);
  cursor: pointer;
}
